#slide{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color:gray;
} 

#slide:hover{
	-fx-border-width: 3px;
	-fx-border-color: #4d5259;
}

#side:hover{

	-fx-border-color:  black;
	-fx-border-width: 0 0 8 0;
	
}

#date:hover{
	-fx-background-color: gray;
}



/* ADD */

#cal{
	-fx-background-color:  #cadae0;
}

#addButtons{
	-fx-background-color:  #cadae0; 
}

#teacherButtons{
	-fx-background-color:  #cadae0;
	
}

#teacherButtons:hover{
	-fx-outer-border: white;
	-fx-border-color: gray;
	-fx-border-width: 1px;
}

#fields{
	-fx-background-color:  #cadae0;
}


/*
    The tab bar
*/

.jfx-tab-pane .headers-region {
    -fx-background-color: gray;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: gray;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}

/*
	Buttons on side. 
*/

#sideButton:hover{
	
	-fx-border-color: #4d5259;
	-fx-border-width: 0 0 4 0;
}

#sideButton{
	-fx-font-weight: bold;
}

#eventButton{
	-fx-background-color: #ffffff;
	-fx-border-color: #000000;
	-fx-font-size: 15px;
	-fx-alignment: top-left;
	-fx-background-insets: 0,1,1;
	-fx-text-fill: black;
	/*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 ); kan style kantene?*/
}

