#slide{
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-background-color:gray;
} 

#slide:hover{
	-fx-border-width: 3px;
	-fx-border-color: #4d5259;
}

#side:hover{

	-fx-border-color:  black;
	-fx-border-width: 0 0 8 0;
	
}

#date:hover{
	-fx-background-color: gray;
}



/* ADD */


#cal{
	-fx-background-color:  #d0d3d8;
}

#addButtons{
	-fx-background-color:  #cadae0; 
}

#teacherButtons{
	-fx-background-color:  #cadae0;
	
}

#teacherButtons:hover{
	-fx-outer-border: white;
	-fx-border-color: gray;
	-fx-border-width: 1px;
}

#fields{
	-fx-background-color:  #cadae0;
}


/*
    The tab bar
*/

.jfx-tab-pane .headers-region {
    -fx-background-color: gray;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: gray;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}

/*
	Buttons on side. 
*/

#sideButton:hover{
	
	-fx-border-color: #4d5259;
	-fx-border-width: 0 0 2 0;
}

#sideButton{
	-fx-font-weight: bold;
	-fx-font-size: 13px;
}

/* EVENT Buttons*/

#eventButton{
	-fx-border-color: #000000;
	-fx-font-size: 14px;
	-fx-alignment: top-left;
	-fx-background-insets: 0,1,1;
	-fx-text-fill: black;
	-fx-opacity: 0.9;
	/*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 ); kan style kantene?*/
}

/*Add activity buttons*/

/*Text*/

#text{
	-fx-font-weight: bold;
}


/*SnackBar*/

/*.jfx-snackbar-content {
	-fx-background-color: BLACK;
	}*/
.jfx-snackbar-toast {
	-fx-text-fill: RED;
	-fx-font-size: 20; 
	}
.jfx-snackbar-action {
	-fx-text-fill: #ff4081;
	}


/* Next and previous buttons*/

#next{
	-fx-border-radius: 0 40 40 0;
	-fx-background-radius: 0 40 40 0;

  /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}

#previous{
	-fx-border-radius: 40 0 0 40;
	-fx-background-radius: 40 0 0 40;

  /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}

/* Table view*/

#table{
	-fx-background-color: #d0d3d8;
}

