.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

#deleteBtn {
    -fx-border-color: #000000;
    -fx-font-size: 14px;
    -fx-alignment: top-left;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-opacity: 0.9;
    -fx-background-color: red;
    -fx-alignment: center;
}